.logoalicorp {
    width: 213.34px;
    height: 57px;
    margin-top: 26px;
    margin-left: 50px;
}
.menuHeader {
    display:flex;
    justify-content: space-between;
    background: #ffff;
    height: 103px;
}
.menuHeaderDerecha {
    display:flex;
}
.infoMenuDerecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.user {
    width: 30%;
    height: 80%;
}
.bolsa {
    width: 18%;
    height: 72%;
}
.headerLogo {
    display: contents;
}
.fondoHeader {
    background-image: url(/src/img/Imagen-portafolio.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 362px;
}
.lemaHeader {
    display: flex;
    justify-content: center;
    font-size: 64px;
    margin: 0;
    padding-top: 104px;
    color: #946763;
}
.saldoHeader {
    display: flex;
}