.product {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  #imagenes {
    margin-top: 55px;
    margin-bottom: 40px;
    width: 25%;
  }
  .inputType {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  
  }
  .fotoProducto {
    width: 100px;
    height: 80px;
  }
  .containerFlex {
   display: flex;
       
  }
  .xxdd{
    display: inline-flex;
  }
  #containerBotones {
    width: 18%;
    display: flex;
    flex-wrap: wrap;
  }
  #containerCentral {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }
  .containerBotones {
    padding: 60px;
    display: flex;
    flex-direction: column;
  }
  .contenedorProducto {
    width: 22%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transition: all .4s;
  }
  #btnProductos,
  #btnPastas,
  #btnDetergentes,
  #btnAceites,
  #btnConservas,
  #btnJabones {
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: transparent;
    text-align: center;
    text-decoration: none;
    color: #000;
    border: none;
    border-bottom: 1px solid #777;
    border-top: 1px solid #777;
  }